/* container for elements */
.container-alignment {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 1200px;
    font-size: 1.1rem;
    gap: 10px;
}

/* menu button scroller/navigator */
.navigation {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

/* headings */
.container-alignment h3 {
    margin-left: 20px;
    font-family: 'Quicksand', sans-serif;
}

/* labels element */
.container-alignment label {
    margin: 10px;
    padding: 10px;
    border-bottom-width: 1px;
    border-bottom-style: groove;
    border-bottom-color: gray;
}

/* labels and input elements for sizes: radio & gaps */
.container-alignment label input {
    padding: 0px;
    margin: 10px;
    border-radius: 50px;
    transform: scale(2);
    margin-bottom: 15px;
}

/* navigator buttons */
.navigation button {
    background-color: white;
    border: transparent;
    text-align: left;
    margin: 5px;
    padding: 10px;
}

.navigation button:hover {
    color: white;
    background-color: #0FA98D;
    border-radius: 50px;
}

/* general class for all forms with radio buttons */
.selection {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-left: 10px;
}

.selection label {
    cursor: pointer;
}

/* span element for prices */
.selection span {
    font-weight: bold;
    float: inline-end;
}

/* muted color for time */
.time {
    color: gray;
}

/* media query for small screens */
@media screen and (max-width:600px) {
    .container-alignment {
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 1px;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-right: 15px;
        margin-left: 0px;
    }

    /* navigator buttons */
    .navigation button {
        text-align: center;
        color: white;
        padding: 10px;
        background-color: #0FA98D;
        border-radius: 20px;
    }

    /* headings */
    .container-alignment h3 {
        margin-left: 1px;
        font-family: 'Quicksand', sans-serif;
        margin-top: 10px;
    }

    /* labels element */
    .container-alignment label {
        margin: 1px;
        padding: 1px;
        border-bottom-width: 1px;
        border-bottom-style: groove;
        border-bottom-color: gray;
    }

    /* labels and input elements for sizes: radio & gaps */
    .container-alignment label input {
        padding: 0px;
        margin: 10px;
        border-radius: 50px;
        transform: scale(2);
        margin-bottom: 15px;
    }


}


.radio-btn {
    height: 20px;
    width: 20px;
    border: 2px solid #838383;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.radio-btn::after {
    content: '';
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #838383;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.2s;
}

.radio-input:checked~.radio-btn::after {
    opacity: 1;
}

.radio-input {
    display: none
}

.radio-btn-box {
    display: flex;
    align-items: center;
    gap: 12px;
}

.radio-btn-box .name-and-price,
.desc {
    user-select: none;
}

