.services {
   display: flex;
   text-align: center;
   justify-content: center;
   flex-direction: column;
   padding: 2rem 0;
}

.services .leading-text {
   font-weight: bold;
}

.services h2 {
   font-size: 4rem;
   font-family: "Quicksand", sans-serif;
   line-height: 1.2;
   padding-bottom: 20px;
}

.services h2 span {
   color: #0fa98d;
   font-family: "Cookie", cursive;
   font-size: 4.5rem;
}

.services .service-card-container {
   display: flex;
   flex-direction: row;
   /* flex-wrap: wrap;
    justify-content: space-around; */
   gap: 20px;
}

.services-card, p {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 1.1rem;
}

.service-card h3{
   font-family: "Quicksand", sans-serif;
   color: #0fa98d;
}

@media only screen and (max-width: 790px) {
   .services .service-card-container {
      flex-wrap: wrap;
      justify-content: center;
   }
}

.services .service-card {
   padding: 50px;
   border-radius: 16px;
   background: linear-gradient(to bottom, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0.1) 100%);
   transition: transform .65s cubic-bezier(.05, .2, .1, 1), box-shadow .65s cubic-bezier(.05, .2, .1, 1);
}

.services .service-card:hover {
   box-shadow: 0 25px 55px rgba(0, 0, 0, .22);
   background: #fff;
   transform: translateY(-10px);
   transition: transform .65s cubic-bezier(.05, .2, .1, 1), box-shadow .65s cubic-bezier(.05, .2, .1, 1);
}

.services .service-card img {
   width: 250px;
   height: auto;
}
