.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -10px;
}

.home-page {
    text-align: left;
    max-width: 600px;

}

/* homepage heading */
.home-page__heading {
    font-size: 4rem;
    /* If possible import all fonts in html file at public folder */
    font-family: 'Quicksand', sans-serif;
    line-height: 1.2;
}

/* heading spanned word */
.home-page__heading span {
    color: #0FA98D;
    font-family: 'Cookie', cursive;
    font-size: 4.5rem;
}

/* shop objective */
.objective {
    font-size: 1.1rem;
    /* Dont use px for line height */
    line-height:1.8;
}

.buttons {
    margin: 35px 0;
}

/* buttons styling || booking and watch video */
.booking-button {
    background-color: #0FA98D;
    color: white;
    font-size: 1.1rem;
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    margin-right: 50px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}


/* details on barbershop */
.details {
    display: flex;
    align-items: baseline;
    gap: 20px; /* Gap just incase they shrink in small devices */
    justify-content: space-between;
}

/* details spanned word */
.details span {
    color: #0FA98D;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* details headings */
.details > h4 {
    padding: 10px;
    font-size: 1.1rem;
    margin-top: 20px;

}

.lines {
    border-left-style: groove;
    border-left-width: 2px;
}

.lines > span {
    margin-left: 10px;
}

/* styling the image */
.home .home-page-image {
    background-color: #7E7F81;
    /* transform: rotate(10deg); */
    border-radius: 150px;
    border-top-right-radius: 100px;
    /* Mostly use max-width for responsiveness */
    max-width: 200px;
}

/* styling image to achieve a stacked images effect */
.home-page-image .stack {
    float: left;
    width: 450px;
    height: auto;
    margin: 10px;
}

/* styling the video playback */
.responsive-video {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 50%;
    margin-left: 25%;
    padding-top: 10%;
    position: absolute;
    height: 0;
}

/* media queries */
@media screen and (max-width: 600px) {
    .home {
        display: flex;
        margin: auto;
        padding: auto;
        flex-direction: column;
        justify-content: center;
    }

    .home .home-page {
        text-align: left;
        letter-spacing: 0.3px;
        word-spacing: 0.3px;
        line-break: auto;
        max-width: 400px;
        flex-direction: row;
    }

    /* homepage heading */
    .home-page h3 {
        font-size: 3rem;
    }

    /* homepage heading spanned word */
    .home-page h3 span {
        color: #0FA98D;
        font-family: 'Cookie', cursive;
        margin-left: 9px;
    }

    /* details on barbershop */
    .details {
        display: flex;
        align-items: center;
        color: black;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* details spanned word */
    .details span {
        color: #0FA98D;
        font-size: 1.2rem;
    }

    /* details headings */
    .details h4 {
        flex-direction: column;
        align-self: center;
        font-size: 0.8rem;
    }

    /* image */
    .home-page .home-page-image .stack {
        display: flex;
        flex-direction: row;

    }

    /* styling the image */
    .home .home-page-image {
        max-width: 300px;
        width: 300px;
        display: flex;
        flex-direction: column;
    }

    /* booking and video button gap */
    .booking-button {
        margin-right: 40px;
    }

    /* styling the video playback */
    .responsive-video {
        position: static;
        max-width: 500px;
        margin-right: 20px;
        margin-left: 10px;
        padding-bottom: 10px;
        height: 1%;
    }
}
