.cart {
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cart span {
    float: inline-end;
    margin-left: 24px;
    font-weight: bold;
}

.total {
    border-top-width: 1px;
    border-top-style: groove;
    border-bottom-width: 1px;
    border-bottom-style: groove;
    padding-top: 10px;
    padding-bottom: 10px;
}

.checkout-button {
    background-color: #0FA98D;
    color: white;
    font-size: 1.1rem;
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    margin-right: 50px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

/* media query for small screens */
@media screen and (max-width:600px) {
    .cart {
        margin: 10px;
    }

    .cart span {
        margin-left: 5px;
        position: static;
        font-weight: bold;
    }
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item p{
    margin: 0;
}

.delete-btn{
    margin-left: 12px;
    border: none;
    background: none;
}

.delete-btn svg{
    line-height: 1;
    width: 18px;
    height: 18px;
    color: #666;
}
