.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo {
    width: 50px;
    height: 50px;
}

.brand {
    font-family: 'Cookie', cursive;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #0FA98D;
    text-decoration: none;
}

.auth-container h3{
    font-family: 'Quicksand', sans-serif;
    margin-top: 35px;
}

.login-form {
    width: 350px;
    border-radius: 150px;
}

.auth-container .login-form-forgot{
    float: inline-end;
    text-decoration: none;
}

.acc-link{
    text-decoration: none;
    margin-left: 10px;
}
