.navbar{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
}


.logo {
    width: 50px; 
    margin-left: -1.5rem;   
}

#nav-links {
    display: flex;    
    justify-content: end;
}

#brand {
    font-size: 1.2rem;
    font-family: 'Cookie', cursive;
    display: flex;    
    align-items: center;
    color: #0FA98D;
}