root {
  box-sizing: border-box;
}

/* RESET Styles */
*::after, *, *::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* Image reset  for responsiveness*/
img {
  max-width: 100%;
}

body {
  min-height: 100vh;
}
